work05/work55.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT 会社情報 (会社+)>
<!ELEMENT 会社 (名称,説明?,img*)>
<!ATTLIST 会社 市場 (東証1部|マザーズ|ジャスダック) "ジャスダック">
<!ATTLIST 会社 コード ID #REQUIRED>
<!ATTLIST 会社 親会社 IDREF #IMPLIED>
<!ELEMENT 名称 (#PCDATA)>
<!ELEMENT 説明 (#PCDATA|em)*>
<!ELEMENT em (#PCDATA)>
<!ELEMENT img EMPTY>
<!ATTLIST img src CDATA #REQUIRED
 alt CDATA #IMPLIED>