work06/work63.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT work63 (x1, x2, x3)>
<!ENTITY % TEXT "CDATA">
<!ENTITY % DEFAULT "YYY">
<!ELEMENT x1 EMPTY >
<!ATTLIST x1 aa %TEXT; "%DEFAULT;">
<!ELEMENT x2 EMPTY >
<!ATTLIST x2 aa (%DEFAULT;|ZZZ) "ZZZ">
<!ELEMENT x3 EMPTY>
<!ATTLIST x3 aa CDATA #FIXED "ZZZ">